body {
background-color: white;
font-family: 'Calibri';
margin:0; 
padding: 0;
}

.navigation li {
font-weight: 200px;
font-size:x-large;
font-family: Raleway;

}


#currentprojects {
    height:450px;
    background-color:white;
}
#h1current{
    text-align: center;
}

#currentpara{
margin-left:200px;
margin-right:200px;
}

#h2header{
    margin-left:100px;
}

#aboutme {
height: 600px; 
background-color: #fcbb44;
text-align: center;
}

img{
    border:5px solid 
}

#h1ec{
text-align: center;
}

#extracurriculars{
    height:450px;
    background-color:#fcbb44;
}
.navigation {
    font-family: Inter;
    float: right;

}

nav li{
    display:inline-block;
    margin-left: 100px;
    margin-right:100px;
    

}



span{
    border:0px solid tan;
background-color: #fcbb44;

}

.fa-solid_fa-user{
margin:100px; 
}

#email{
    text-align: center;
    height:250px;
    background-color:antiquewhite;
}

#email p{
    font-size: x-large;
}

.fa-solid_fa-house{
    margin:0;
}


.header{
    position: sticky;
 top:0;
 padding:3px;
}

.typed-out {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space:nowrap;
    font-size: 3rem;
    width:0;
    animation: typing 2s steps(17,end) forwards;
   
    
    }
    
    .container{
        display:inline-block;
        margin-left:50px;
    }
    
    @keyframes typing {
        from { width:0 }
        to { width: 100%}
    }
.social {
    text-align:center;
    display:inline;
}

header{
    background-color:white;
    margin-bottom:10px;
    padding-bottom:5px;
    padding-top:5px;
    /*border: solid*/
    
    
}

.table {
    border-spacing: 20px;
}

#questionarea {
    text-align:center;
    height:350px;
}

#personalpic{
    height:300px;
}

#intro{
    margin-left:500px;
    margin-right:500px;
}

#sociallink{
    text-align: center; 
    font-family: Roboto;
}
